<div class="container">
  <div class="main-body">
    <div class="navbar navbar-expand-md navbar-light bg-light mb-0" role="navigation">
      <a class="navbar-brand" href="#">User menager</a>
      <div class="container bootstrap snippets bootdey">
        <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-body p-t-0">
                <div class="input-group">
                  <input type="text" id="example-input1-group2" name="example-input1-group2" class="form-control"
                         placeholder="Search for user">
                  <span class="input-group-btn">
                            <button type="button" class="btn btn-effect-ripple btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>


    </div>

    <div class="container" id="main-container">
      <div class="row">
        <div *ngFor="let user of users" class="col-md-6 col-xl-3">
          <div class="col mb-3">
            <div class="card">
              <img src="https://via.placeholder.com/340x120/FFB6C6/000000" alt="Cover" class="card-img-top">
              <div class="card-body text-center">
                <img src="{{user.imageUrl}}" style="width:100px;margin-top:-65px"
                     alt="User" class="img-fluid img-thumbnail rounded-circle border-0 mb-3">
                <h5 class="card-title">{{user.name}}</h5>
                <p class="text-secondary mb-1">{{user.jobTitle}}</p>
                <p class="text-secondary mb-1">{{user.email}}</p>
                <p class="text-secondary mb-1">{{user.phone}}</p>
              </div>
              <div class="card-footer">
                <div class="float-right btn-group btn-group-sm">
                  <a href="#" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip"
                     data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                  <a href="#" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip"
                     data-original-title="Delete"><i class="fa fa-times"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
