<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="main-box clearfix">
        <div class="table-responsive">
          <table class="table user-list">
            <thead>
            <tr>
              <th><span>User </span> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16" style="margin-left: 3%" (click)="sortUsers()">
                <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z"/>
              </svg>

              </th>
              <th><span>Phone number</span></th>
              <th class="text-center"><span>Job</span></th>
              <th><span>Email</span></th>
              <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody >
            <tr *ngFor="let user of users">
              <td>
                <img src="{{user?.imageUrl}}" alt="">
                <a href="#" class="user-link">{{user?.name}}</a>
              </td>
              <td class="text-center">
                <span class="label label-default">{{user?.phone}}</span>
              </td>
              <td>
                <a href="#">{{user?.jobTitle}}</a>
              </td>
              <td>
                <a href="#">{{user?.email}}</a>
              </td>

              <td style="width: 20%;">
                <a href="#" class="table-link">
									<span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
									</span>
                </a>
                <a href="#" class="table-link danger">
									<span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
									</span>
                </a>
              </td>
            </tr>
            </tbody>


          </table>
        </div>
        <ul class="pagination pull-right">
          <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
